<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/contactos.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
             data-fontsize="['70','60','60','50']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">Contactos</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row">

    <div class="col-12 d-block d-lg-none my-5">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h2 class="subtitle modelica-bold text-6">Os Nossos Contactos</h2>
        </div>
        <div class="col-12">
          <img class="img-fluid py-1" alt="Morada" src="{{url_base}}/assets/img/icons/location_blue.svg" width="20" height="20" />
        </div>
        <div class="col-12 mb-3">
          <p class="text-5">Largo António Roleira Marinho, 37 <br />4935-308 Vila Nova de Anha</p>
        </div>
        <div class="col-12">
          <img class="img-fluid py-1" alt="Contacto" src="{{url_base}}/assets/img/icons/phone_blue.svg" width="20" height="20" />
        </div>
        <div class="col-12 mb-3">
          <p class="text-5">+351 258 322 929</p>
        </div>
      </div>
      <div class="col-12">
        <img class="img-fluid py-1" alt="Email" src="{{url_base}}/assets/img/icons/email_blue.svg" width="20" height="20" />
      </div>
      <div class="col-12 mb-3">
        <p class="text-5">juntav.n.anha@sapo.pt</p>
      </div>
    </div>

    <div class="col-12 col-lg-6 pt-5 mt-5 d-none d-lg-block">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h2 class="subtitle modelica-bold text-6">Os Nossos Contactos</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <ul class="list list-icons list-icons-lg">
            <li class="mb-2 px-0 list-item">
              <img class="img-fluid pt-1" alt="Morada" src="{{url_base}}/assets/img/icons/location_blue.svg" width="20" height="20"/>
              <p class="m-0 pl-3 text-4 d-inline">Largo António Roleira Marinho, 37 <br/>4935-308 Vila Nova de Anha</p>
            </li>
            <li class="my-2 px-0 list-item">
              <img class="img-fluid" alt="Contacto" src="{{url_base}}/assets/img/icons/phone_blue.svg" width="20" height="20"/>
              <p class="m-0 pl-3 text-4 d-inline">+351 258 322 929</p>
            </li>
            <li class="my-2 px-0 list-item">
              <img class="img-fluid pt-1" alt="Email" src="{{url_base}}/assets/img/icons/email_blue.svg" width="20" height="20"/>
              <p class="m-0 pl-3 text-4 d-inline">juntav.n.anha@sapo.pt</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-0">
      <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.6287372711063!2d-8.794783184565603!3d41.663762879239705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25b67fe01f2df9%3A0x458f8c8857c8f2d1!2sParish%20Council%20of%20Vila%20Nova%20de%20Anha!5e0!3m2!1sen!2spt!4v1622546732939!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>


  </div>
</div>

<div class="container-fluid bg-blue">
  {% include 'Includes/contacto.html' %}
</div>
