<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/noticias.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center" data-y="center" data-voffset="['50','20','20','50']" data-width="['870','870','870','1000']" data-fontsize="['40','60','60','50']" data-lineheight="['69','69','69','100']" style="color: #e0e0e0;">
          <strong class="text-color-light playfair-display-regular text-uppercase">Notícias</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container container-xl py-5">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="{{url_base}}/assets/img/news/news1.png" alt="Notícia" class="img-fluid" />

    </div>
    <div class="col-lg-5 d-flex align-items-center ml-lg-5">
      <div class="row">
        <div class="col-12 mt-5 mt-lg-0">
          <h2 class="subtitle">Inicia-se hoje segunda fase do Plano de Desconfinamento.</h2>
          <p class="text-4">Portugal entra hoje, 5 de abril de 2021, na segunda fase do Plano de Desconfinamento. Ainda é assim, é fundamental continuar a cumprir as regras. Por isso, sempre que possível mantenha o distanciamento físico, higienize-se
            as suas mãos regularmente e não abdique do uso da máscara.</p>
          <p class="text-4">Para mais informações, <a href="https://covid19estamoson.gov.pt" target="_blank">https://covid19estamoson.gov.pt</a></p>
          <a href="{{url_base}}/noticias"><button type="button" class="btn btn-rounded btn-primary my-4 ">Voltar para noticias</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
