<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/noticias.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
             data-fontsize="['40','60','60','90']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">Notícias</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

{% if is_mobile %}

  <div class="container-fluid px-0">
    <div class="row pt-5 ">
      <div class="col text-center pt-lg-5">
          <h1 class="title mb-lg-5 text-8 text-lg-15">Notícias</h1>
          <div class="row text-left pt-lg-5">
            <div class="col-12 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news1.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 line-height-2 text-4 text-md-6">Inicia-se hoje segunda fase do Plano de Desconfinamento</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 text-3 text-md-5">Portugal entra hoje, 5 de abril de 2021, na segunda fase do Plano de Desconfinamento...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 text-md-3 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-12 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news2.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 line-height-2 text-4 text-md-7">Censos 2021</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 text-3 text-md-5">Após um período de formação, a operação de recenseamento na nossa Vila será efetuada por uma equipa constituída por 1 coordenador de freguesia...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 text-md-3 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{url_base}}/noticias/">
          <button type="button" class="btn btn-rounded btn-primary mb-2 px-5">Ver mais</button>
        </a>
      </div>
    </div>
  </div>

{% else %}

<section class="call-to-action">
  <div class="container-fluid">
    <div class="row pt-5 my-lg-5">
      <div class="col text-center pt-lg-5">
        <div class="call-to-action-content">
          <h1 class="title mb-lg-5 text-8 text-lg-15">Notícias</h1>
          <div class="row text-left pt-lg-5">
            <div class="col-12 col-lg-6 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news1.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title px-5">
                      <span class="thumb-info-inner text-white positive-ls-1 mt-3">Inicia-se hoje segunda fase do Plano de Desconfinamento</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 mt-lg-4">Portugal entra hoje, 5 de abril de 2021, na segunda fase do Plano de Desconfinamento...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-12 col-lg-6 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news2.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title px-5">
                      <span class="thumb-info-inner text-white positive-ls-1 mt-3">Censos 2021</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 mt-lg-4">Após um período de formação, a operação de recenseamento na nossa Vila será efetuada por uma equipa constituída por 1 coordenador de freguesia...</span>
                      <span class="a-underline float-right text-white modelica-regular home-news text-1">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{url_base}}/noticias/">
          <button type="button" class="btn btn-rounded btn-primary mb-2 px-5">Ver mais</button>
        </a>
      </div>
    </div>
  </div>
</section>

{% endif %}

<div class="container-fluid bg-blue">
  <div class="row">
    <div class="col-12 text-center pt-5">
      <p class="text-white text-lg-13 text-uppercase mt-lg-5">Subscrever Newsletter</p>
      <p class="text-white text-lg-5 text-uppercase mt-lg-5">Subscreva à nossa newsletter para se manter sempre informado.</p>
    </div>
    <div class="col-8 mx-auto py-5">
      <form name="newsletter-form" class="newsletter-form" action="php/newsletter-form.php" method="POST">
        <div class="form-row">
          <div class="form-group col-10">
            <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group col-2 text-center pt-1">
            <button type="submit" id="newsletterSubmit" class="btn-rounded text-uppercase px-4 py-1 newsletter-btn">Subscrever</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
