<div class="container">
  <div class="row py-5 my-5">
    <div class="col-12 text-center pb-5">
      <h2 class="text-uppercase">Política de Privacidade e Cookies</h2>
    </div>
    <div class="col-12">
      <h3 class="subtitle modelica-bold">Política de Privacidade</h3>
      <p class="text-md-4 text-lg-4">A política de privacidade destina-se a informar a forma de recolha, tratamento e proteção dos dados pessoais fornecidos online.
        <br/><br/>
        Qualquer alteração à Política de Privacidade da Junta de Freguesia de Vila Nova de Anha será disponibilizada nesta página Web. A última atualização foi efetuada em 01/06/2021.
        <br/><br/>
        Para qualquer esclarecimento adicional por favor contacte-nos:
        <br/><br/>
        a) por escrito, para:
        <br/><br/>
        Largo António Roleira Marinho, 37, 4935-308 Vila Nova de Anha
        <br/><br/>
        b) através de correio eletrónico para juntav.n.anha@sapo.pt
        <br/><br/>
        Os dados recolhidos destinam-se a ser analisados para efeitos de decisão e gestão dos serviços a prestar, bem como para ações de marketing direto.
        <br/><br/>
        Os dados fornecidos são confidenciais, não sendo partilhados com entidades terceiras.
        <br/><br/>
        A entidade responsável pelo tratamento dos dados recolhidos é a Junta de Freguesia de Vila Nova de Anha, com sede no Largo António Roleira Marinho, 37, 4935-308 Vila Nova de Anha, Portugal.
      </p>

      <h3 class="subtitle modelica-bold pt-3">Segurança</h3>
      <p class="text-md-4">Não obstante a Junta de Freguesia de Vila Nova de Anha procede à recolha e tratamento dos dados recolhidos de forma segura, e que impede o seu extravio ou manipulação, informa que a recolha de dados em redes abertas permite a circulação dos dados sem condições de segurança, correndo o risco de serem vistos e utilizados por terceiros não autorizados.
        <br/><br/>
        A transmissão de dados através da Internet nunca é totalmente segura, podendo existir terceiros que intercetem ou acedam à informação, pelo que a transmissão de dados é da inteira responsabilidade do transmitente.
        <br/><br/>
        O titular dos dados tem direito de acesso, retificação, cancelamento e oposição à comunicação dos seus dados. Tal direito pode ser exercido através de um dos seguintes meios:
        <br/><br/>
        a) por escrito, para:
        <br/><br/>
        Largo António Roleira Marinho, 37, 4935-308 Vila Nova de Anha
        <br/><br/>
        b) através de correio eletrónico para juntav.n.anha@sapo.pt
      </p>

      <h3 class="subtitle modelica-bold pt-3">Informação sobre Cookies</h3>
      <p class="text-md-4">Um “cookie” é um pequeno ficheiro descarregado para o seu computador quando visita um website.
        <br/><br/>
        Os “cookies” armazenam informações sobre a sua visita, tais como, qual o seu idioma preferido para navegar no site ou outro tipo de informações semelhantes. Com o armazenamento dessas informações, os sites facilitam a sua próxima visita de forma a tornar a navegação no site mais simples.
        <br/><br/>
        Os navegadores web têm opções de personalização para o uso de “cookies”. Habitualmente um navegador oferece as seguintes opções de configuração:
        <br/><br/>
        Mostrar “cookies”;
        <br/><br/>
        Permitir “cookies”;
        <br/><br/>
        Desativar todos ou determinados “cookies”;
        <br/><br/>
        Desativar todos os “cookies” quando fechar o navegador;
        <br/><br/>
        Bloquear “cookies”;
        <br/><br/>
        Informar o utilizador antes de salvar um “cookie”.
        <br/><br/>
        Nota sobre os “cookies”:
        <br/><br/>
        Se bloquear os nossos “cookies” nas definições do seu browser poderá deixar de ter acesso a todas ou parte das áreas do nosso website. Isso poderá afetar a sua experiência de navegação.
        <br/><br/>
        No caso de escolher a opção “Eliminar todos os cookies” do seu browser, as definições padrões serão apagadas.
        <br/><br/>
        Se deixar que o seu navegador guarde os cookies, eles irão ser usados no momento da sua próxima visita ao nosso site.
      </p>

      <h3 class="subtitle modelica-bold pt-3">Termos e Condições</h3>
      <p class="text-md-4">O acesso e uso deste website estão sujeitos à aceitação destes termos e condições. Se não concordar com estes termos e condições deve cessar imediatamente o uso deste website.
        <br/><br/>
        O conteúdo e a informação disponibilizada neste website, incluindo os seus termos e condições, podem, a qualquer momento, ser alterados por parte da Junta de Freguesia de Vila Nova de Anha.
        <br/><br/>
        O acesso ao website desta empresa pode ser suspenso temporária ou permanentemente e sem aviso prévio.
        <br/><br/>
        Embora façamos o possível por garantir que o website está disponível 24 horas por dia, não seremos responsáveis se, por qualquer razão, o website não estiver disponível em qualquer altura ou por qualquer período de tempo. Embora façamos todo o possível para garantir que todas as informações contidas no website são exatas, não podemos assegurar que todas as informações sejam precisas e atualizadas. Deste modo, não aceitamos qualquer responsabilidade por erros ou omissões no que respeita ao conteúdo do website.
        <br/><br/>
        No caso de encontrar informações erradas no website solicitamos que nos informe. Tomaremos de imediato as medidas necessárias para a sua correção.
        <br/><br/>
        Ao aceder a outros websites através de links fornecidos pelo site da Junta de Freguesia de Vila Nova de Anha, o utilizador reconhece que esta empresa não exerce qualquer tipo de controlo sobre os conteúdos desses websites e que, como tal, não pode ser responsabilizado por quaisquer consequências resultantes do acesso aos mesmos, seja a que título for.
        <br/><br/>
        A Junta de Freguesia de Vila Nova de Anha não será responsável por danos resultantes em contratos, documentos legais, ou outros pelo uso ou incapacidade de uso deste website ou de qualquer material nele contido bem como qualquer ação ou decisão tomadas como resultado do uso deste website ou desse material.
        <br/><br/>
        O utilizador reconhece que toda a informação e conteúdos disponibilizados neste website, incluindo imagens, vídeos, textos e informações, logótipos e desenho gráfico do website ou qualquer documento ali constante, são da propriedade industrial ou intelectual da Junta de Freguesia de Vila Nova de Anha ou de terceiros que autorizaram a sua inclusão, ou que para tanto foram autorizados.
        <br/><br/>
        É expressamente proibido, ao utilizador, copiar, salvo autorização concedida pela Junta de Freguesia de Vila Nova de Anha, armazenar, reproduzir, alterar, transmitir, divulgar, comercializar ou, por qualquer outra forma, tornar acessível a terceiros a informação disponibilizada através deste website, salvo se para fins privados e de forma gratuita. A eventual utilização de informação deverá sempre fazer referência à fonte.
      </p>
    </div>
  </div>
</div>
