:root {
  --main-blue: #133463;
}

/* GENERAL */
.title {
  color: #133463;
  text-transform: uppercase;
  font-family: "PlayfairDisplayRegular", Arial, sans-serif;
  font-size: 3.5rem;
}

.subtitle {
  color: #133463;
  text-transform: uppercase;
  font-family: BwModelicaBold, Arial, sans-serif;
}

.a-underline {
  color: #133463;
  text-transform: uppercase;
  font-family: "ModelicaMedium", Arial, sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.50em;
}

.text-blue {
  color: #133463 !important;
}

/* HOME */
.home-news {
  position: absolute;
  padding: .5rem;
  right: 1rem;
  bottom: .5rem;
}

/* INFORMACOES */
.call-info {
  box-shadow: 0px 0px 10px #00000048;
}

.service-card {
  width: 20rem;
  height: 7rem;
  border-radius: 10rem;
  border: 1px solid black;
}

.borderleft {
  padding: 0 2rem;
}

.borderleft:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 2px;
  height: 60%;
  background: #FFF;
}

.info-mobile-line:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid #133463;
}

.info-mobile-line2:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid #FFF;
}

.atendimento {
  box-shadow: 0px 0px 15px #0000005A;
}

.alerts {
  box-shadow: 0px 0px 10px #00000052;
}

/* LOCAIS A VISITAR */
.visit-img {
  width: 40vh;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  z-index: 10;
  top: 15vh;
}

.visit-text {
  height: 50vh;
}

.visit-img-campo {
  width: 40vh;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  z-index: 10;
  bottom: 15vh;
  right: 3vw;
}

.visit-img-campo-left {
  width: 40vh;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  z-index: 10;
  bottom: 15vh;
}

.visit-text-campo {
  height: 70vh;
}

.direction {
  text-decoration: underline;
  text-underline-offset: 0.75em;
  font-family: "BwModelicaMedium", Arial, sans-serif;
}

/* NOTICIAS */
.news-box .thumb-info-inner {
  font-family: "BwModelicaBold", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

/* NEWSLETTER */
.container-newsletter {
  position: relative;
  top: 6vh;
}

.col-newsletter {
  box-shadow: 0px 0px 15px #00000048;
  background: #FFF;
}

.news-more {
  font-family: BwModelicaMedium, Arial, sans-serif;
  color: #FFF;
  position: absolute;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  font-size: .9rem;
  letter-spacing: 1px;
}

/* BOLETINS */
.toggle-col {
  background: #FFF;
  box-shadow: 0px 0px 15px #00000029;
}

.toggle-content a {
  text-decoration: underline;
  text-underline-offset: 0.75em;
}

.toggle-title:hover {
  text-decoration: none !important;
}

/* AGENDA */
.thumb-agenda {
  background: transparent;
  border-radius: 60px !important;
}

.info-agenda {
  background-color: rgba(19, 52, 99, 0.7) !important;
}

.agenda-data {
  width: 30%;
  position: absolute;
  left: 0;
  border-right: 2px solid #FFF;
}

.agenda-titulo {
  width: 60%;
  position: absolute;
  right: 0;
}

.agenda-mais {
  width: 60%;
  position: absolute;
  bottom: .5rem;
  right: 0;
  text-decoration: underline;
  font-family: "BwModelicaRegular", Arial, sans-serif !important;
  font-size: .8rem;
  letter-spacing: 1px;
}

/* COMÉRCIO  */
.comercio_card {
  width: 30rem;
  height: 10rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 1px -1px 26px 8px rgba(171, 171, 171, 0.75);
  -webkit-box-shadow: 1px -1px 26px 8px rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 1px -1px 26px 8px rgba(171, 171, 171, 0.75);
}

.comercio_mais {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "BwModelicaMedium", Arial, sans-serif;
  text-underline-offset: .3rem;
}

/* BACKGROUNDS */
.bg-blue {
  background: var(--main-blue);
}

.bg-blue-90 {
  background: linear-gradient(to right, #133463 95%, #F5F5F5 5%);
}

.bg-blue-90-left {
  background: linear-gradient(to left, #133463 95%, #F5F5F5 5%);
}

.bg-blue-30 {
  background: linear-gradient(to left, #F5F5F5 70%, #133463 30%);
}

/* FORMS */
.form-control {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 0;
  color: #FFF;
}

.form-control:focus {
  background: transparent;
  color: #FFF;
  border: 1px solid #000;
}

textarea {
  resize: none;
}

.checkbox-label {
  margin-right: .7rem;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border: 1px solid #FFF;
  border-radius: 0;
  background-color: #133463;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 6px;
}

.newsletter-form-white input::placeholder {
  color: #000 !important;
}

.newsletter-form-white .form-control {
  border: 1px solid #133463 !important;
  border-radius: 0 !important;
  color: #000 !important;
}

/* BUTTONS */
#contactSubmit,
.newsletter-btn {
  background: #FFF;
  border: none;
}

#contactSubmit:hover,
#newsletterSubmit:hover {
  opacity: 0.8;
}

/* FIXES */
.dropdown-menu {
  padding: 0 !important;
}

.w-90 {
  width: 90%;
}

.mfp-close,
.mfp-arrow {
  opacity: 1;
}

.owl-carousel .owl-item img {
  width: auto;
}

/* FONTS */
.modelica-bold {
  font-family: "BwModelicaBold", Arial, sans-serif;
}

.modelica-medium {
  font-family: "BwModelicaMedium", Arial, sans-serif;
}

.modelica-regular {
  font-family: "BwModelicaRegular", Arial, sans-serif;
}

.playfair-display-regular {
  font-family: "PlayfairDisplayRegular", Arial, sans-serif;
}

/* FOOTER */
.list-item {
  display: flex;
  align-items: start;
}

/* MENU MOBILE  */

.menu-mobile, .menu-mobile-fechar {
  position: absolute;
  padding: .5rem;
  right: 1rem;
  top: 1rem;
  z-index: 999;
}

.menu-mobile-logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 999;
}

.menu-mobile-100 {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: var(--main-blue);
  overflow: hidden;
}

.menu-mobile-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
}
/* MEDIA QUERIES  */
@media (max-width: 767.98px) {
  .thumb-info.thumb-info-bottom-info-show-more .thumb-info-title {
    height: 50%;
  }

  .thumb-info.thumb-info-bottom-info .thumb-info-title {
    padding: .5rem;
  }

  .comercio_card {
    width: 20rem;
  }
}
