@font-face {
    font-family: "BwModelicaMedium";
    src: local('BwModelicaMedium'), url('./fonts/BwModelicaMedium.woff2');
}
@font-face {
    font-family: "BwModelicaRegular";
    src: local('BwModelicaRegular'), url('./fonts/BwModelicaRegular.woff2');
}

@font-face {
    font-family: "BwModelicaBold";
    src: local('BwModelicaBold'), url('./fonts/BwModelicaBold.woff2');
}


@font-face {
    font-family: "PlayfairDisplayRegular";
    src: local('PlayfairDisplayRegular'), url('./fonts/PlayfairDisplayRegular.woff');
}
