<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/agenda.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
             data-fontsize="['70','60','60','90']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">Agenda</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container container-xl d-flex justify-content-center">
  <div class="row py-5">

    {% for i in range(0, 6) %}
    <div class="col-12 col-lg-4 pb-5">
      <a href="{{url_base}}/informacoes_uteis/agenda_detalhe">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-agenda">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/agenda/agenda.png" class="img-fluid" alt="Notícia"/>
            <span class="thumb-info-title info-agenda">
              <span class="thumb-info-inner line-height-1 text-white text-center agenda-data"><span class="text-13 text-lg-6">15 </span><br>Maio</span>
              <span class="thumb-info-type line-height-1 text-white agenda-titulo text-4 text-md-6 text-lg-2">Comemoração das festas dos folaridos</span>
              <span class="text-decoration-underline a-underline float-right text-uppercase text-white agenda-mais">Ver mais</span>
            </span>
          </span>
        </span>
      </a>
    </div>
    {% endfor %}

  </div>
</div>
