<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/agenda.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center" data-y="center" data-voffset="['50','20','20','50']" data-width="['870','870','870','1000']" data-fontsize="['70','60','60','50']" data-lineheight="['69','69','69','100']" style="color: #e0e0e0;">
         <strong class="text-color-light playfair-display-regular text-uppercase">Agenda</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container container-xl py-5">
  <div class="row">
    <div class="col-lg-6">
      <img src="{{url_base}}/assets/img/agenda/agenda_detalhe.png" alt="Agenda" class="img-fluid" />
    </div>
    <div class="col-lg-5 d-flex align-items-center ml-lg-5">
      <div>
        <h2 class="subtitle mt-5 mt-lg-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h2>
        <h3 class="text-4 text-blue regular">15 MAIO | Comemoração das festas de folaridos</h3>
        <p class="text-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd gubergren,
          no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        <div class="col-12 d-flex justify-content-center justify-content-lg-start pl-lg-0">
          <a href="{{url_base}}/informacoes_uteis/agenda"><button type="button" class="btn btn-rounded btn-primary my-4">Voltar para agenda</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
