<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/informacoes.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center" data-y="center" data-voffset="['50','20','20','50']" data-width="['870','870','870','1000']" data-fontsize="['70','60','60','90']" data-lineheight="['69','69','69','100']" style="color: #e0e0e0;">
          <strong class="text-color-light playfair-display-regular text-uppercase">Informações</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center text-lg-left mx-1 mx-lg-3">
    <div class="col-12 mx-auto bg-blue atendimento px-lg-5">
      <div class="row py-5 my-lg-5">
        <div class="col-12 col-lg-4">
          <p class="text-white text-uppercase modelica-bold text-5 text-lg-6">Horário de Atendimento</p>
          <p class="text-white text-4">A Junta de Freguesia de Vila Nova de Anha encontra-se aberta, para atendimento presencial, todos os dias das 9h00 às 12h30 e das 16h30 às 20h00. O executivo está disponível para atendimento todas as segundas,
            quartas e sextas feiras das 19h às 20h.</p>
          <div class="d-block d-lg-none info-mobile-line2 my-5"></div>
        </div>

        <div class="col-12 col-lg-4 borderleft">
          <div class="white bg-transparent pt-5 pt-lg-0">
            <p class="text-white text-uppercase modelica-bold text-5 text-lg-6">COVID 19 - Plano de Contingência</p>
            <p class="text-white text-4">O presente Plano de Contingência, no âmbito da infeção pelo novo Coronavírus COVID-19, descreve as principais etapas que a Junta de Freguesia de Vila Nova de Anha deve considerar, assim como os procedimentos a
              adotar no âmbito das suas responsabilidades e competências.</p>
            <a href="javascript:void(0);" class="text-white text-uppercase text-decoration-underline a-underline text-lg-4">Ver documento</a>
            <div class="d-block d-lg-none info-mobile-line2 my-5"></div>
          </div>
        </div>

        <div class="col-12 col-lg-4 borderleft">
          <div class="white bg-transparent pt-5 pt-lg-0">
            <p class="text-white text-uppercase modelica-bold text-5 text-lg-6">Registo e Licenciamento de Canídeos/Gatídeos</p>
            <p class="text-white text-4">O registo e licenciamento de cães e gatos é obrigatório por lei e deve ser feito na sua junta de freguesia. Informe-se.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid alerts">
  <div class="row px-lg-5">
    <div class="col-12 text-center px-lg-5">
      <div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-style-2 mb-0" data-plugin-options="{'items': 1, 'margin': 100, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoplay': true, 'autoplayTimeout': 3000}">
        <div class="item py-5">
          <img src="{{url_base}}/assets/img/icons/warning.svg" class="img-fluid pr-3 d-inline" alt="Aviso" />
          <h4 class="text-uppercase d-inline subtitle text-5 modelica-bold">Inscrição para editais acabada a 20 de março</h4>
        </div>
        <div class="item py-5">
          <img src="{{url_base}}/assets/img/icons/warning.svg" class="img-fluid pr-3 d-inline" alt="Aviso" />
          <h4 class="text-uppercase d-inline subtitle text-5 modelica-bold">Inscrição para editais acabada a 20 de março</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-11 mx-auto atendimento">
      <div class="row text-center text-lg-left py-5 my-lg-5">
        <div class="col-12 pb-5">
          <p class="text-center text-uppercase text-8 text-lg-14 title my-lg-4">Contactos de Emergência</p>
        </div>
        <div class="d-none d-lg-block col-1">
        </div>
        <div class="col-12 col-lg-2">
          <h3 class="mb-2 mb-lg-0 subtitle text-6 modelica-bold">Polícia</h3>
          <p class="text-4">+351 243 567 394</p>
        </div>
        <div class="col-12 col-lg-2">
          <h3 class="mb-2 mb-lg-0 subtitle text-6 modelica-bold">Bombeiros</h3>
          <p class="text-4">+351 243 567 394</p>
        </div>
        <div class="col-12 col-lg-2">
          <h3 class="mb-2 mb-lg-0 subtitle text-6 modelica-bold">Posto de Saúde</h3>
          <p class="text-4">+351 243 567 394</p>
        </div>
        <div class="col-12 col-lg-2">
          <h3 class="mb-2 mb-lg-0 subtitle text-6 modelica-bold">Vimágua</h3>
          <p class="text-4">+351 243 567 394</p>
        </div>
        <div class="col-12 col-lg-2">
          <h3 class="mb-2 mb-lg-0 subtitle text-6 modelica-bold">EDP</h3>
          <p class="text-4">+351 243 567 394</p>
        </div>
        <div class="d-none d-lg-block col-1">
        </div>
      </div>
    </div>
  </div>
</div>
