<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/associacoes.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center" data-y="center" data-voffset="['50','20','20','50']" data-width="['870','870','870','1000']" data-fontsize="['70','60','60','90']" data-lineheight="['69','69','69','100']" style="color: #e0e0e0;">
          <strong class="text-color-light playfair-display-regular text-uppercase">Associações</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container container-lg text-center text-lg-left">
  <div class="row py-5 my-lg-5">
    <div class="col-12 col-lg-6">
      <h3 class="title modelica-bold text-6">Associação Desportiva e Cultural de Anha</h3>
      <p class="pb-4 text-4">Sede: Avenida da Igreja, 4935-347 Vila Nova de Anha
        <br />
        Contacto: adcanha@live.com.pt
        <br />
        Secções Desportivas:
        <br />
        Secção de Futsal: Seniores e Juniores
        <br />
        Secção de Pesca:
        <br />
        Secção Cultural:
        <br />
        Janeiras: Durante o mês de janeiro cantando janeiras pela Vila e em diversos encontros de janeiras que somos convidados, principalmente o que é organizado pela Câmara Municipal;
        <br />
        Carnaval: Participação no Corso carnavalesco de Vila Nova de Anha e em Viana do Castelo;
        <br />
        Festas Populares: Realização das festas em honra dos Santos Populares na Quinta do Paço de Anha.
      </p>

      <h3 class="title modelica-bold text-6">Casa do Povo de Vila Nova de Anha</h3>
      <p class="pb-4 text-4">Sede: Largo António Roleira Marinho, 27, 4935-308 Vila Nova de Anha
        <br />
        Contacto: 963 556 862 / 258 332 465
        <br />
        Email: <a href="mailto:casadopovoanha@gmail.com"> casadopovoanha@gmail.com</a>
        <br />
        Site:<a href="http://www.casapovoanha.com/" target="_blank"> http://www.casapovoanha.com</a>
      </p>

      <h3 class="title modelica-bold text-6">Associação de Caçadores de Vila Nova de Anha</h3>
      <p class="pb-4 text-4">Sede: Avenida 9 de Julho de 1985, 1220, 4935-301 Vila Nova de Anha
        <br />
        Contacto: 919 698 712
        <br />
        Email: <a href="mailto:anhacaca87@gmail.com"> anhacaca87@gmail.com</a>
      </p>
    </div>

    <div class="col-12 col-lg-6">
      <h3 class="title modelica-bold text-6">Grupo de Danças e Cantares da Casa do Povo de V.N. Anha</h3>
      <p class="pb-4 text-4">Sede: Largo António Roleira Marinho, 27, 4935-308 Vila Nova de Anha
        <br />
        Contacto: 258 321 863 / 968 080 499
        <br />
          Site:<a href="http://www.anhafolclore.com" target="_blank"> http://www.anhafolclore.com</a>
      </p>

      <h3 class="title modelica-bold text-6">Agrupamento 452 – São Tiago (Corpo Nacional de Escutas)</h3>
      <p class="pb-4 text-4">Sede: Largo da Matriz (Adro Paroquial), 4935–355 Vila Nova de Anha
      </p>

      <h3 class="title modelica-bold text-6">AMVNA – Associação Musical de V.N. Anha</h3>
      <p class="pb-4 text-4">Sede: Avenida Prior do Crato, 96/106, 4935-330 Vila Nova de Anha
        <br />
        Contacto: 962 761 112 / 961 527 825
        <br />
        Email: <a href="mailto:associacaomusicalanha@gmail.com"> associacaomusicalanha@gmail.com</a>
        <br />
        Site:<a href="http://www.amvna.com" target="_blank"> http://www.amvna.com</a>
      </p>

      <h3 class="title modelica-bold text-6">Filármonica de V.N. Anha</h3>
      <p class="pb-4 text-4">Sede: Avenida da Igreja, 65, 4935-347 Vila Nova de Anha
        <br />
        Contacto: 969 037 741 / 910 251 047
        <br />
        Email: <a href="mailto:info@filarmonicavnanha.com"> info@filarmonicavnanha.com</a>
      </p>
    </div>
  </div>
</div>
