<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/executivos.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
            data-fontsize="['70','60','60','90']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">Executivos</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container container-lg text-center text-lg-left">
  <div class="row py-5 my-lg-5">
    <div class="col-12 col-lg-6">
      <h3 class="title modelica-bold text-6">Executivo:</h3>
      <p class="pb-4 text-4">O presente executivo está em funções durante o período legislativo que compreende os anos 2017 a 2021:
        <br/><br/>
        Presidente: José Filipe Correia da Silva
        <br/>
        - Pelouros:
        <br/>
        Secretária: Catarina Felgueiras Portela
        <br/>
        - Pelouros:
        <br/>
        Tesoureiro: José Joaquim Pereira da Silva
        <br/>
        - Pelouros:
      </p>

        <h3 class="title modelica-bold text-6">Assembleia de Freguesia:</h3>
      <p class="pb-4 text-4">O presente corpo executivo está em funções durante o período legislativo que compreende os anos 2017 a 2021:
        <br/><br/>
        Mesa Assembleia:
        <br/>
        Presidente: José Manuel Meira dos Santos
        <br/>
        1º Secretário: Horácio José Correia Barbosa Soares
        <br/>
        2º Secretário: Isabel Caldas da Costa
      </p>

        <h3 class="title modelica-bold text-6">Membros Assembleia:</h3>
      <p class="pb-4 text-4">Vogal: Ernesto Sá Correia
        <br/>
        Vogal: Fábio José Correia de Brito
        <br/>
        Vogal: Rui Jorge Ribeiro Martins de Matos
        <br/>
        Vogal: José Carlos Oliveira Gonçalves
        <br/>
        Vogal: Duarte José Faria Vilar de Figueiredo
        <br/>
        Vogal: Elisabete Sampaio Pereira
      </p>
    </div>

    <div class="col-12 col-lg-6">
      <p class="pb-4 text-4">Equipa:
        <br/>
        Serviços Administrativos:
        <br/>
        GIP:
        <br/>
        Animadores Sócio Culturais:
        <br/>
        Higiene e Limpeza:
      </p>

      <h3 class="title modelica-bold text-6">Galeria de Presidentes:</h3>
      <p class="pb-4 text-4">(listagem dos anteriores presidentes)
        <br/><br/>
        Heráldica:
        <br/>
        Brasão:
        <br/>
        Bandeira:
        <br/>
        Hino:
        <br/>
        Interpretação:
      </p>

      <h3 class="title modelica-bold text-6">Regulamentos</h3>
      <p class="pb-4 text-4">- Apoio às Coletividades
        <br/>
        - Utilização de Instalações
        <br/>
        - Apoio Socioeducativo
        <br/>
        - Geral de Taxas e Licenças
        <br/>
        - Licenciamento de Atividades Diversas
      </p>

      <h3 class="title modelica-bold text-6">Planos:</h3>
      <p class="pb-4 text-4">- COVID 19
        <br/>
        - Prevenção de Riscos de Corrupção e Infrações Conexas
      </p>

      <h3 class="title modelica-bold text-6 mb-0">Avaliação de Desempenho:</h3>
      <p class="pb-4 text-4"></p>
    </div>
  </div>
</div>
