<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider"
  class="slider rev_slider"
  data-version="5.4.8"
  data-plugin-revolution-slider
  data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/sobre.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
             data-fontsize="['70','60','60','90']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">A Freguesia</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 d-flex align-items-center px-5">
      <div class="row">
        <div class="col-12">
          <h2 class="font-weight-normal mb-2 text-uppercase title text-8 text-lg-13 text-center text-lg-left mt-5 mt-lg-0 mb-3">Vila Nova de Anha</h2>
        </div>
        <div class="col-12 col-lg-11 pt-4 pl-lg-5 text-center text-lg-left text-4 text-lg-3">
          <p class="text-lg-4">Junto da Costa Atlântica, aos pés da capital do Minho, Viana do Castelo, e perto do rio Lima, encontramos a encantadora Vila Nova de Anha. Desde as suas maravilhosas praias, ao seu património arquitetónico e cultural, Vila Nova de Anha oferece aos seus visitantes tudo o que se pode esperar de uma típica freguesia minhota.
            <br/><br/>
            Com uma história quase milenar, Vila Nova de Anha dispõe de vários pontos de interesse turístico, de entre os quais se destacam a Igreja Matriz, o antigo solar Paço d’Anha e a sua capela de St. António e ainda as capelas do Senhor dos Aflitos, de S. João e de S. Gonçalo.
            <br/><br/>
            A belíssima praia do Rodanho convida os seus visitantes a desfrutar de uma paisagem ímpar, a partir das dunas que se estendem pela área branca e cristalina, assim como de uma fauna e flora diversificadas. As celebrações em honra do padroeiro desta freguesia, S. Tiago, e de S. António e S. José, no final de julho, dão origem às conhecidas romarias desta vila minhota que todos os anos atraem muitos visitantes.
            <br/><br/>
            Para os adeptos das modalidades de caça ou pesca desportiva, existem ainda várias atividades dinamizadas pela Associação de Caçadores de Vila Nova de Anha e da Associação Desportiva e Cultural.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 pr-0">
      <img src="{{url_base}}/assets/img/about/sobre.png" alt="VN Anha" class="img-fluid w-100"/>
    </div>
  </div>
</div>

<div class="container-fluid bg-blue">
  <div class="container-fluid">
    <div class="row py-5 mt-5">
      <div class="col-12 py-5">
        <h2 class="font-weight-normal mb-2 text-uppercase text-white text-center title text-white my-lg-5 text-8 text-lg-13 text-center">Resenha Histórica</h2>
      </div>
      <div class="col-1"></div>
      <div class="col-10">
        <p class="text-white text-center text-lg-left text-4">
          Vila Nova de Anha, antes apenas Anha, recebe o estatuto de Vila em face do Decreto da Assembleia da República n.º 175/III de 9 de julho de 1985, sendo o decreto promulgado pelo Presidente da República em 08 de agosto de 1985 e referendado pelo Primeiro Ministro em 14 de agosto do mesmo ano e enviado para o Diário da República em 13 de setembro do mesmo ano onde foi publicado em II Série nº. 221, de 25 de setembro de 1985 - Lei n.º 63/85 - sob o título - Elevação de Anha a Vila.
          <br/><br/>
          Esta freguesia é uma povoação muito antiga, cuja fundação remonta aos tempos da reconquista e aparece nos documentos antigos fazendo parte das Terras de Neiva, integrada no Senhorio da Casa de Bragança desde o século XV. Há, porém, documentos do final do século IX, que falam desta freguesia, que então se chamava Ânia.
          <br/><br/>
          Anha já era paróquia antes da construção do Mosteiro Beneditino de S. Romão do Neiva, cuja primeira igreja é de cerca do ano de 1022.
          <br/><br/>
          No livro “Inventário Coletivo dos Arquivos Paroquiais vol. II Norte Arquivos Nacionais/Torre do Tombo” pode ler-se na íntegra a respeito da história desta freguesia: A primeira referência conhecida a Anha encontra-se num documento de 1063, que a situa nos limites do couto de Mazarefes.
          <br/><br/>
          Nas Inquirições afonsinas, de 1220 e 1258, é citada sob a designação de Santiago de Anha, localizando-se na Terra de Neiva.
          <br/><br/>
          Nas Inquirições efetuadas no reinado de D. Dinis, em 1290, aparece com categoria de freguesia, continuando a pertencer ao julgado de Neiva. Na taxação de 1320, a igreja de Santiago de Anha foi tabelada em 70 libras. No registo da cobrança das “colheitas” dos benefícios eclesiásticos do arcebispado de Braga, efetuado por D. Jorge da Costa, entre os anos de 1489 e 1493, tinha de rendimento 3 onças e 2 réis, em prata, e 15 réis, em dízimas de searas.
          <br/><br/>
          O livro dos Benefícios e Comendas, de 1528, faz ainda menção a Santiago de Anha incluída na Terra de Aguiar de Neiva.
          <br/><br/>
          Américo Costa descreve-a como abadia, no termo de Barcelos, que passou, mais tarde, a priorado. Diz, também o mesmo autor, que esta freguesia se terá designado primitiva, entre Nossa Senhora das Areias, lugar onde existe ainda uma pequena ermida na margem esquerda do rio Lima e, tendo-se tornado inabitável pela acumulação de areias, mudou-se para o local onde atualmente se encontra.
          <br/><br/>
          Segundo o Padre António Carvalho da Costa e o Padre Cardoso, o direito de apresentação desta freguesia pertencia à Casa de Bragança, referindo, contudo, a Estatística Paroquial que era a Sé Patriarcal que apresentava o abade.
          <br/><br/>
          O património arquitetónico e cultural edificado, as tradições ainda vivas, e o meio ambiente em que se insere, oferecem a Vila Nova de Anha inúmeras atrações de interesse turístico a serem aproveitadas em benefício do desenvolvimento local.
          <br/><br/>
          O Paço d’Anha e sua capela de Sto. António, a Igreja Matriz, as capelas do Senhor dos Aflitos, de S. João e de S. Gonçalo, a praia oceânica do Rodanho, à qual foi atribuída bandeira dourada, a possibilidade de praticar caça e pesca desportiva, dinamizada pela Associação de Caçadores de Vila Nova de Anha e Associação Desportiva e Cultural, as festas da Vila, em honra de S. Tiago, Santo António e S. José, celebradas na última semana de julho, e a Queima do Judas, realizada na noite de Domingo de Páscoa, constituem polos que merecem uma atenção especial de uma política de turismo.
          <br/><br/>
          O Paço d’Anha, um velho solar que do ponto de vista arquitetónico apresenta três épocas distintas, e que a tradição nos diz ter-se aqui refugiado D. António Prior do Crato, pretendente ao Trono, na crise de 1580. Está ligado ao Turismo de Habitação e à produção do apetecido vinho verde branco Paço d'Anha, que tantos estrangeiros e portugueses tem atraído a Vila Nova de Anha e se mostram encantados com a beleza da paisagem, a amenidade do clima e a paz e o sossego de que gozam nesta vasta Quinta minhota.
        </p>
        <div class="col-1"></div>
      </div>
      </div>
    </div>
  </div>

<div class="owl-carousel owl-theme dots-modern" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'loop': true, 'autoHeight': true, 'margin': 0, 'autoplay': true, 'autoplayTimeout': 2500, 'dots': false}">
  <div>
    <img alt="VN de Anha" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/sobre/sobre1.png"/>
  </div>
  <div>
    <img alt="VN de Anha" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/sobre/sobre2.png"/>
  </div>
  <div>
    <img alt="VN de Anha" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/sobre/sobre3.png"/>
  </div>
  <div>
    <img alt="VN de Anha" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/sobre/sobre4.png"/>
  </div>
</div>


{% if is_mobile %}

<div class="container-fluid my-5">
  <div class="row">
<div class="col-12 text-center">
  <h2 class="font-weight-normal mb-2 text-uppercase title py-5 text-8 text-center">Galeria de Imagens</h2>
</div>

    <div class="col-12">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image1.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image2.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image3.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image4.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image5.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-12">
      <div class="portfolio-item">
        <a href="portfolio-single-wide-slider.html">
          <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/gallery/image6.png" class="img-fluid border-radius-0" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Presentation</span>
                <span class="thumb-info-type">Brand</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>


{% else %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-lg-5">
      <div class="row py-5 my-lg-5">
        <div class="col-12 text-center">
          <h2 class="font-weight-normal mb-2 text-uppercase title py-lg-5 text-8 text-lg-13 text-center">Galeria de Imagens</h2>
        </div>
        <div class="col-12 pt-5">
          <div class="lightbox" data-plugin-options='{"delegate": "a.lightbox-portfolio", "type": "image", "gallery": {"enabled": true}}'>

          <div class="masonry-loader masonry-loader-showing">
            <div class="masonry" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image1.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image1.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image2.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image2.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image3.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image3.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image4.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image4.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image5.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image5.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image6.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image6.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>

              <div class="masonry-item">
                <a class="lightbox-portfolio" href="{{url_base}}/assets/img/gallery/image7.png">
                  <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                    <span class="thumb-info-wrapper">
                      <img src="{{url_base}}/assets/img/gallery/image7.png" class="img-fluid" alt="Galeria">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner text-uppercase">Casa da Freguesia do Século XVII</span>
                        <span class="thumb-info-type bg-transparent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
