<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/home.png"
             alt="Banner"
             data-bgposition="center center"
             data-bgfit="cover"
             data-bgrepeat="no-repeat"
             class="rev-slidebg"/>
          <p class="tp-caption text-white text-uppercase playfair-display-regular"
             data-x="['center','center','center','center']"
             data-y="['center','center','center','center']"
             data-voffset="['0','0','0','0']"
             data-hoffset="['0','0','0','0']"
             data-start="1000"
             data-fontsize="['70','90','100','80']"
             data-transform_in="y:[-50%];opacity:0;s:500;"
             data-width="['1500','700','1000','800']"
             data-lineheight="['94', '100', '100', '100']"
             data-whitespace="['normal', 'normal', 'normal', 'normal']"
             data-textAlign="['center', 'center', 'center', 'center']"
             data-basealign="slide">
             Bem-vindo a Vila Nova de Anha
          </p>
          <p class="tp-caption text-white modelica-regular"
             data-x="['center','center','center','center']"
             data-y="['center','center','center','center']"
             data-voffset="['100','0','300','300']"
             data-hoffset="['0','0','0','0']"
             data-start="1000"
             data-fontsize="['25','90','50','60']"
             data-transform_in="y:[-50%];opacity:0;s:500;"
             data-width="['700','700','900','1000']"
             data-lineheight="['36', '100', '70', '70']"
             data-whitespace="['normal', 'normal', 'normal', 'normal']"
             data-textAlign="['center', 'center', 'center', 'center']"
             data-basealign="slide">
             Encante-se pela Pérola do Lima, pelo amor e união de uma comunidade.
          </p>
      </li>
    </ul>
  </div>
</div>
