  <div class="row">
    <div class="col-12 text-center pt-5">
      <h1 class="text-white title text-8 text-lg-13 my-lg-5">Entre em contacto!</h1>
    </div>
    <div class="col-lg-10 mx-auto py-lg-5">
      <form name="contact-form" class="contact-form" action="php/contact-form.php" method="POST">
        <div class="form-row">
          <div class="form-group col-12">
            <input type="text" value="" placeholder="Nome" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control" name="name" id="name" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-lg-6">
            <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group col-12 col-lg-6">
            <input type="text" value="" placeholder="Assunto" data-msg-required="Por favor insira o assunto" maxlength="100" class="form-control" name="email" id="email" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <textarea maxlength="2000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-7">
            <input type="checkbox" id="checkbox" name="checkbox" class="checkbox checkbox-label">
            <label class="text-uppercase text-white text-1 text-lg-2" for="checkbox">Eu aceito as condições da política de privacidade.</label>
          </div>
          <div class="form-group col-lg-5 text-center">
            <button type="submit" id="contactSubmit" class="btn-rounded text-uppercase float-lg-right px-4">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
