<footer id="footer">
  <div class="container-fluid px-lg-5 pt-1">
    <div class="row py-lg-5 text-center text-lg-left px-3">
      <div class="col-lg-2 py-5 py-lg-0">
        <img src="{{url_base}}/assets/img/logos/logo_footer.svg" alt="VN Anha" class="img-fluid" style="height: 100px;" />
      </div>

      <div class="col-4 text-left d-none d-lg-block">
        <ul class="list list-icons list-icons-lg">
          <li class="mb-2 px-0 list-item"><img class="img-fluid pt-1" alt="Morada" src="{{url_base}}/assets/img/icons/location.svg" width="20" height="20" />
            <p class="m-0 pl-3 text-color-light text-4 d-inline">Largo António Roleira Marinho, 37 <br />4935-308 Vila Nova de Anha</p>
          </li>
          <li class="my-2 px-0 list-item"><img class="img-fluid" alt="Contacto" src="{{url_base}}/assets/img/icons/phone.svg" width="20" height="20" />
            <p class="m-0 pl-3 text-4 d-inline"><a class="text-color-light">+351 258 322 929</a></p>
          </li>
          <li class="my-2 px-0 list-item"><img class="img-fluid pt-1" alt="Email" src="{{url_base}}/assets/img/icons/email.svg" width="20" height="20" />
            <p class="m-0 pl-3 text-color-light text-4 d-inline"><a href="mailto:juntav.n.anha@sapo.pt">juntav.n.anha@sapo.pt</a></p>
          </li>
        </ul>
      </div>

      <div class="col-12 d-block d-lg-none">
        <div class="row">
          <div class="col-12">
            <img class="img-fluid py-1" alt="Morada" src="{{url_base}}/assets/img/icons/location.svg" width="20" height="20" />
          </div>
          <div class="col-12 mb-3">
            <p class="text-color-light text-5">Largo António Roleira Marinho, 37 <br />4935-308 Vila Nova de Anha</p>
          </div>
          <div class="col-12">
            <img class="img-fluid py-1" alt="Contacto" src="{{url_base}}/assets/img/icons/phone.svg" width="20" height="20" />
          </div>
          <div class="col-12 mb-3">
            <p class="text-color-light text-5">+351 258 322 929</p>
          </div>
        </div>
        <div class="col-12">
          <img class="img-fluid py-1" alt="Email" src="{{url_base}}/assets/img/icons/email.svg" width="20" height="20" />
        </div>
        <div class="col-12 mb-3">
          <p class="text-color-light text-5">juntav.n.anha@sapo.pt</p>
        </div>
      </div>

    <div class="col-lg-5">
      <div class="row">
        <div class="col-12 pt-1">
          <a href="{{url_base}}/politica" class="text-white text-uppercase text-decoration-underline a-underline modelica-medium text-4 text-lg-3">Política de privacidade e cookies</a>
        </div>
        <div class="col-12 pt-3">
          <p class="text-white text-uppercase mb-2 modelica-medium text-4 text-lg-3">Acompanhe-nos</p>
        </div>
        <div class="col-12 mb-5 mb-lg-0">
          <a href="https://www.facebook.com/freguesia.v.n.anha/" target="_blank"><img src="{{url_base}}/assets/img/logos/facebook.svg" alt="Facebook" class="img-fluid pr-3" width="40" height="40" /></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="{{url_base}}/assets/img/logos/instagram.svg" alt="Instagram" class="img-fluid pr-3" width="40" height="40" /></a>
          <a href="https://www.youtube.com/" target="_blank"><img src="{{url_base}}/assets/img/logos/youtube.svg" alt="YouTube" class="img-fluid pr-3" width="40" height="40" /></a>
        </div>
      </div>
    </div>

    <div class="col-lg-1">
      <a href="https://www.livroreclamacoes.pt/inicio" target="_blank"><img src="{{url_base}}/assets/img/logos/livro_reclamacoes.svg" alt="Livro de Reclamações" class="img-fluid" style="height: 50px;" /></a>
    </div>

  </div>
  </div>

  <div class="footer-copyright footer-copyright-style-2">
    <div class="container py-2">
      <div class="row py-0">
        <div class="col-12 text-center">
          <p class="text-white">Designed by <a href="https://unify.pt/" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="UNIFY" class="img-fluid mb-1 ml-2" /></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

</div>

<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>

</body>

</html>
