{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <a href="{{url_base}}">
      <div class="menu-mobile-logo text-left">
        <img alt="Logo" width="70" height="65" src="{{url_base}}/assets/img/logos/logo_header.svg">
      </div>
        </a>
    </div>
    <div class="col-6">
      <div class="menu-mobile">
        <img src="{{url_base}}/assets/img/icons/menu_mobile.svg" alt="" class="menu-mobile-open">
      </div>
    </div>
  </div>

</div>

<div class="menu-mobile-100">
<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-6">
      <a href="{{url_base}}">
        <img alt="Logo" width="80" height="70" src="{{url_base}}/assets/img/logos/logo_header.svg">
      </a>
    </div>
    <div class="col-6">
        <img alt="Logo" src="{{url_base}}/assets/img/icons/menu_mobile_fechar.svg" class="menu-mobile-fechar">
    </div>
    <div class="col-12 menu-mobile-center">
      <ul>
        <li>Sobre</li>
        <li>Informações úteis</li>
        <li>Boletins</li>
        <li>Locais a visitar</li>
        <li>Notícias</li>
      </ul>
    </div>
  </div>
</div>
</div>

{% else %}

<header id="header" {% if (module == 'Politica') and action == 'index' %} class="header-effect-shrink" {% else %} class="header-transparent header-effect-shrink" {% endif %}
  data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 70, 'stickyHeaderContainerHeight': 120}">
  <div class="header-body header-body-bottom-border border-top-0">
    <div class="header-container header-container-height-md container-fluid px-lg-5">
      <div class="header-row">
        <div class="header-column justify-content-center w-auto-mobile w-50 order-3 order-lg-1">
          <div class="header-nav justify-content-start header-nav-line header-nav-bottom-line">
            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
              <nav class="collapse">
                <ul class="nav nav-pills" id="mainNav">
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">
                      Sobre
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/sobre/freguesia">
                          A Freguesia
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/sobre/associacoes">
                          Associações
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/sobre/executivos">
                          Executivos
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">
                      Informações Úteis
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/informacoes_uteis/informacoes">
                          Informações
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/informacoes_uteis/agenda">
                          Agenda
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/informacoes_uteis/comercio_servicos">
                          Comércio e Serviços
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="{{url_base}}/boletins">
                      Boletins
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="header-column justify-content-center order-1 order-lg-2">
          <div class="header-row">
            <div class="header-logo">
              <a href="{{url_base}}">
                <img alt="Logo" width="100" height="90" data-sticky-width="100" data-sticky-height="80" src="{{url_base}}/assets/img/logos/logo_header.svg">
              </a>
            </div>
          </div>
        </div>

        <div class="header-column justify-content-center w-100-mobile w-50 order-2 order-lg-3">
          <div class="header-nav justify-content-end header-nav-line header-nav-bottom-line">
            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
              <nav class="collapse">
                <ul class="nav nav-pills">
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">
                      Locais a Visitar
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/locais/campo">
                          Campo
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/locais/monte">
                          Monte
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item text-uppercase" href="{{url_base}}/locais/praia">
                          Praia
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-mega">
                    <a class="dropdown-item dropdown-toggle" href="{{url_base}}/noticias">
                      Notícias
                    </a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="{{url_base}}/contactos">
                      Contactos
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</header>

{% endif %}




<div role="main" class="main" id="home">
  {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}
