<!-- -------------------------------------------- A FREGUESIA ------------------------------------------- -->
<section class="call-to-action">
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col text-center">
        <div class="call-to-action-content">
          <h1 class="title mb-5 text-10 text-lg-15">A Freguesia</h1>
          <p class="text-5 mb-0">Situada a sul de Viana do Castelo, na margem esquerda do Rio Lima, Vila Nova de Anha é um marco histórico de Portugal desde o século IV. Repleta de património arquitetónico e cultural edificado, Vila Nova de Anha é o
            coração das tradições ainda vivas e de uma paisagem arrebatadora. Venha conhecer.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -------------------------------------------- SLIDE IMAGENS ------------------------------------------- -->
<div class="owl-carousel owl-theme dots-modern"
  data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'loop': true, 'autoHeight': true, 'margin': 0, 'autoplay': true, 'autoplayTimeout': 2500, 'dots': false}">
  <div>
    <img alt="slide" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/home/home1.png" />
  </div>
  <div>
    <img alt="slide" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/home/home2.png" />
  </div>
  <div>
    <img alt="slide" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/home/home3.png" />
  </div>
  <div>
    <img alt="slide" class="img-fluid w-100" src="{{url_base}}/assets/img/slides/home/home4.png" />
  </div>
</div>
<div class="py-5">
</div>

<!-- -------------------------------------------- INFORMACOES UTEIS ------------------------------------------- -->
<section class="call-to-action call-info bg-white">
  <div class="container-fluid">
    <div class="row py-5 my-lg-5">
      <div class="col text-center">
        <div class="call-to-action-content">
          <h1 class="title mb-lg-5 text-8 text-lg-15">Informações Úteis</h1>
          <div class="row text-lg-left py-lg-3">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
              <h4 class="subtitle text-lg-6">Horário de Atendimento</h4>
              <p class="text-lg-4">A Junta de Freguesia de Vila Nova de Anha encontra-se aberta, para atendimento presencial, todos os dias das 9h00 às 12h30 e das 16h30 às 20h00. O executivo está disponível para atendimento todas as segundas,
                quartas e sextas feiras das 19h às 20h.</p>
              <div class="d-block d-lg-none info-mobile-line my-5"></div>
            </div>

            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
              <div class="borderleft bg-transparent pt-0">
                <h4 class="subtitle text-lg-6">COVID 19 - Plano de Contingência</h4>
                <p class="text-lg-4">O presente Plano de Contingência, no âmbito da infeção pelo novo Coronavírus COVID-19, descreve as principais etapas que a Junta de Freguesia de Vila Nova de Anha deve considerar, assim como os procedimentos a
                  adotar no âmbito das suas responsabilidades e competências.</p>
                <a class="a-underline text-4" href="javascript:void(0);">Ver documento</a>
              </div>
              <div class="d-block d-lg-none info-mobile-line my-5"></div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="borderleft bg-transparent pt-0">
                <h4 class="subtitle text-lg-6">Registo e Licenciamento de Canídeos/Gatídeos</h4>
                <p class="text-lg-4">O registo e licenciamento de cães e gatos é obrigatório por lei e deve ser feito na sua junta de freguesia. Informe-se.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{url_base}}/informacoes_uteis/informacoes">
          <button type="button" class="btn btn-rounded btn-primary mb-2 px-5">Ver mais</button>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- -------------------------------------------- LOCAIS A VISITAR ------------------------------------------- -->


{% if is_mobile %}

<div class="container-fluid bg-blue py-5">
  <div class="row">
    <div class="col-12 text-center py-lg-5 my-3">
      <h1 class="title text-white text-9 text-lg-14">Locais a Visitar</h1>
    </div>


    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local1.png" alt="Paço d'Anha" class="img-fluid w-100" />
    </div>

    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">01/ Paço d'anha</h4>
      <p class="text-4 text-white text-4">Casa de seculares tradições, o Paço d’Anha é mais um exemplo de arquitetura nobre. Quatro casas rústicas, junto à casa principal, com amplas salas e agradáveis terraços, convidam-no a repousar das fadigas da
        vida
        citadina.</p>
    </div>
    <div class="col-1"></div>

    <div class="col-1"></div>
    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local2.png" alt="Praia do Rodanho" class="img-fluid mt-5" />
    </div>

    <div class="col-1"></div>
    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">02/ Praia do Rodanho</h4>
      <p class="text-4 text-white text-4">Esta praia, de uma elevada beleza natural, estende-se por dois quilómetros de costa arenosa. É uma praia ampla com sistemas dunares bem desenvolvidos e uma mata adjacente, que induzem uma grande diversidade
        de
        habitats. A Praia do Rodanho surpreende por ter uma das dunas de maior altitude do norte de Portugal.</p>
    </div>

    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local3.png" alt="Igreja Matriz" class="img-fluid" />
    </div>

    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">03/ Igreja Matriz de Vila Nova de Anha</h4>
      <p class="text-4 text-white text-4">A origem d’Anha remonta aos séculos IX e X e crê-se que a igreja primitiva e pagã terá existido junto à conhecida Capela de S. João, uma vez que foram encontrados vestígios de um castro e de uma possível
        igreja
        pagã junto da mesma.</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>


{% else %}

<div class="container-fluid bg-blue-90">
  <div class="row py-5 mb-5">
    <div class="col-12 text-center py-lg-5 my-3">
      <h1 class="title text-white text-9 text-lg-14">Locais a Visitar</h1>
    </div>

    <div class="col-11 col-lg-6 px-5">
      <img src="{{url_base}}/assets/img/home/local1.png" alt="Paço d'Anha" class="img-fluid w-100" />
    </div>
    <div class="col-12 col-lg-4 d-flex align-items-center">
      <div>
        <h4 class="subtitle text-white mb-4">01/ Paço d'anha</h4>
        <p class="text-4 text-white">Casa de seculares tradições, o Paço d’Anha é mais um exemplo de arquitetura nobre. Quatro casas rústicas, junto à casa principal, com amplas salas e agradáveis terraços, convidam-no a repousar das fadigas da vida
          citadina.</p>
      </div>
    </div>

    <div class="col-12 col-lg-4 offset-1 d-flex align-items-center">
      <div>
        <h4 class="subtitle text-white mb-4">02/ Praia do Rodanho</h4>
        <p class="text-4 text-white">Esta praia, de uma elevada beleza natural, estende-se por dois quilómetros de costa arenosa. É uma praia ampla com sistemas dunares bem desenvolvidos e uma mata adjacente, que induzem uma grande diversidade de
          habitats. A Praia do Rodanho surpreende por ter uma das dunas de maior altitude do norte de Portugal.</p>
      </div>
    </div>
    <div class="col-11 col-lg-6 offset-1 px-5">
      <img src="{{url_base}}/assets/img/home/local2.png" alt="Praia do Rodanho" class="img-fluid w-100" />
    </div>

    <div class="col-11 col-lg-6 px-5">
      <img src="{{url_base}}/assets/img/home/local3.png" alt="Igreja Matriz" class="img-fluid w-90 position-absolute visit-img" />
    </div>
    <div class="col-12 col-lg-4 d-flex align-items-center visit-text">
      <div>
        <h4 class="subtitle text-white mb-4">03/ Igreja Matriz de Vila Nova de Anha</h4>
        <p class="text-4 text-white">A origem d’Anha remonta aos séculos IX e X e crê-se que a igreja primitiva e pagã terá existido junto à conhecida Capela de S. João, uma vez que foram encontrados vestígios de um castro e de uma possível igreja
          pagã junto da mesma.</p>
      </div>
    </div>
  </div>
</div>

{% endif %}


<!-- -------------------------------------------- NOTICIAS ------------------------------------------- -->




<!-- APRESENTAR APENAS DUAS NOTICIAS -->

{% if is_mobile %}

  <div class="container-fluid px-0">
    <div class="row pt-5 ">
      <div class="col text-center pt-lg-5">
          <h1 class="title mb-lg-5 text-8 text-lg-15">Notícias</h1>
          <div class="row text-left">
            <div class="col-12 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news1.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 line-height-2 text-4 text-md-6">Inicia-se hoje segunda fase do Plano de Desconfinamento</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 text-3 text-md-5">Portugal entra hoje, 5 de abril de 2021, na segunda fase do Plano de Desconfinamento...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 text-md-3 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-12 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news2.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 line-height-2 text-4 text-md-7">Censos 2021</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 text-3 text-md-5">Após um período de formação, a operação de recenseamento na nossa Vila será efetuada por uma equipa constituída por 1 coordenador de freguesia...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 text-md-3 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{url_base}}/noticias/">
          <button type="button" class="btn btn-rounded btn-primary mb-2 px-5">Ver mais</button>
        </a>
      </div>
    </div>
  </div>

{% else %}

<section class="call-to-action pt-lg-5">
  <div class="container-fluid mt-lg-5">
    <div class="row pt-5 my-lg-5">
      <div class="col text-center pt-lg-5">
        <div class="call-to-action-content">
          <h1 class="title mb-lg-5 text-8 text-lg-15">Notícias</h1>
          <div class="row text-left pt-lg-5">
            <div class="col-12 col-lg-6 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news1.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 mt-3">Inicia-se hoje segunda fase do Plano de Desconfinamento</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 mt-lg-4">Portugal entra hoje, 5 de abril de 2021, na segunda fase do Plano de Desconfinamento...</span>
                      <span class="a-underline float-right text-white modelica-regular text-1 home-news">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-12 col-lg-6 pb-5 news-box">
              <a href="{{url_base}}/noticias/detalhe">
                <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
                  <span class="thumb-info-wrapper">
                    <img src="{{url_base}}/assets/img/news/news2.png" class="img-fluid" alt="Notícia" />
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner text-white positive-ls-1 mt-3">Censos 2021</span>
                      <span class="thumb-info-type font-weight-normal line-height-4 mt-2 mt-lg-4">Após um período de formação, a operação de recenseamento na nossa Vila será efetuada por uma equipa constituída por 1 coordenador de freguesia...</span>
                      <span class="a-underline float-right text-white modelica-regular home-news text-1">Ver mais</span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{url_base}}/noticias/">
          <button type="button" class="btn btn-rounded btn-primary mb-2 px-5">Ver mais</button>
        </a>
      </div>
    </div>
  </div>
</section>

{% endif %}

<!-- -------------------------------------------- NEWSLETTER ------------------------------------------- -->
<div class="container-fluid container-newsletter">
  <div class="row">
    <div class="col-10 mx-auto col-newsletter">
      <div class="row">
        <div class="col-12 text-center pt-lg-5">
          <h1 class="title pt-5 mb-4 text-7 text-lg-13">Subscrever Newsletter</h1>
          <p class="text-4 text-uppercase">Subscreva à nossa newsletter para se manter sempre informado.</p>
        </div>
        <div class="col-lg-8 mx-auto py-5">
          <form name="newsletter-form" class="newsletter-form newsletter-form-white" action="php/newsletter-form.php" method="POST">
            <div class="form-row">
              <div class="form-group col-lg-10">
                <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control" name="name" id="name" required />
              </div>
              <div class="form-group col-lg-2 text-center pt-0">
                <button type="submit" id="newsletterSubmit" class="btn btn-rounded btn-primary px-5">Subscrever</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------- FORMULARIO DE CONTACTO ------------------------------------------- -->
<div class="container-fluid bg-blue pt-5">
  {% include 'Includes/contacto.html' %}
</div>
