<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/boletins.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center"
          data-y="center"
          data-voffset="['50','20','20','50']"
          data-width="['870','870','870','1000']"
          data-fontsize="['70','60','60','90']"
          data-lineheight="['69','69','69','100']"
          style="color: #e0e0e0;">
          <strong class="text-color-light playfair-display-regular text-uppercase">Boletins</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-11 mx-auto toggle-col">
      <div class="toggle toggle-primary py-5 px-lg-5" data-plugin-toggle>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Editais</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Relatórios de Contas</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Atas de Assembleia</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Atas de Reunião de Executivos da Junta</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Plano de Atividades e Orçamentos</a>
          <div class="toggle-content">
            <div class="toggle-content pt-3">
              <a href="javascript:void(0);"><p class="text-4">Plano de atividades 2021</p></a>
              <a href="javascript:void(0);"><p class="text-4">Orçamento x 2021</p></a>
              <a href="javascript:void(0);"><p class="text-4">Orçamento y 2021</p></a>
              <a href="javascript:void(0);"><p class="text-4">Plano de atividades 2020</p></a>
            </div>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Mapa da Freguesia</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>

        <section class="toggle">
          <a class="toggle-title text-4 text-lg-5">Boletins Informativos</a>
          <div class="toggle-content pt-3">
            <a href="javascript:void(0);"><p class="text-4">Lorem ipsum dolor sit amet</p></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
