@media (min-width: 748px) {
	.title-with-video-custom {
		margin-top: -245px !important;
	}

	.title-with-video-custom h1 {
		color: #FFF;
	}

	.title-with-video-custom p {
		color: #e6e6e6;
	}
}

section.section-color-custom {
	border-top: 0;
	background: #E8E8E8;
}

.social-icons li {
	box-shadow: none;
}

.social-icons li a {
	background: transparent;
	color: #FFF !important;
}

.custom-tabs-style-1 .nav-tabs > li.active > a p {
	font-weight: 900 !important;
}

.divider-top-section-custom {
	margin-bottom: -51px !important;
}

.divider-custom {
	position: relative;
	height: 10px;
	width: 35px;
	display: inline-block;
}

.divider-custom:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-right: 1px solid #CCC;
	height: 240%;
	transform: translate3d(-50%, -50%, 0);
}

.google-map {
	margin: 35px 0 -50px !important;
}

#footer .logo img {
	max-width: 100px;
	opacity: 0.5;
}

#footer hr.solid {
	background: #1b1b1b none repeat scroll 0 0;
	margin-top: -10px;
}

#footer h5 {
	font-size: 15px;
}

#footer .fa-phone {
	position: relative;
	top: 1px;
	margin-right: 2px;
}

#footer .footer-email-custom {
	margin: 2px 10px 0 0;
	font-size: 13px;
	border-right: 1px solid #1b1b1b;
	padding: 0 20px 3px 0;
	display: block;
}
