html.boxed {
	background-image: url("../../img/demos/hotel/patterns/pattern.jpg") !important;
}

.custom-rtl-link-fix {
	display: inline-block;
}

[class*="fa-"].fa-long-arrow-alt-right {
	transform: rotate(180deg);
}

.datepicker-dropdown {
	left: auto !important;
	margin-right: 75px !important;
}

@media (max-width: 991px) {
	.datepicker-dropdown {
		margin-right: 0 !important;
		right: 50% !important;
		transform: translateX(160%);
	}
}

@media (max-width: 767px) {
	.datepicker-dropdown {
		right: 30px !important;
		transform: none;
	}
}

html.boxed .body {
	border: 0 !important;
	box-shadow: none;
}

@media (min-width: 999px) {
	html.boxed .body {
		margin-top: 90px;
	}
}

@media (min-width: 992px) {
	#header {
		top: -65px;
		margin-bottom: -65px;
	}

	#header .header-top {
		position: relative;
		top: -10px;
	}
}

#header .header-container {
	min-height: 125px !important;
	background: #FFF;
	max-width: 100%;
	padding: 0 2.5rem;
}

#header .header-body {
	border-bottom: 0;
	background: transparent;
}

@media (min-width: 992px) {
	#header .header-body {
		overflow: visible !important;
	}
}

@media (min-width: 999px) {
	html.sticky-header-active #header .header-body {
		background: #FFF;
	}
}

@media (min-width: 992px) {
	#header .header-nav nav > ul > li.dropdown-mega-book-now .dropdown-menu {
		left: 2.5rem !important;
		right: auto !important;
		max-width: 365px;
		width: 100%;
		transition: none !important;
		transform: none !important;
		margin: 0 !important;
	}
}

@media (max-width: 991px) {
	#header .header-container {
		min-height: 134px;
	}

	#header .header-nav nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control {
		color: #777;
		margin-bottom: 5px;
		border: 1px solid #DDD !important;
		padding-left: 5px;
	}

	#header .header-nav nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control::-webkit-input-placeholder {
		color: #777;
	}

	#header .header-nav nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control::-moz-placeholder {
		color: #777;
	}

	#header .header-nav nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control:-ms-input-placeholder {
		color: #777;
	}

	#header .header-nav nav > ul > li.dropdown-mega-book-now .dropdown-mega-content {
		padding: 10px 0;
		color: #777;
		margin-right: -20px;
	}
}

h1, h2, h3 {
	font-weight: 900;
	letter-spacing: -1px;
}

h1 strong, h2 strong, h3 strong {
	font-weight: 900;
}

h4, h5, h6 {
	font-weight: 800;
	letter-spacing: -1px;
}

h4 strong, h5 strong, h6 strong {
	font-weight: 700;
}

html .btn {
	text-shadow: none !important;
}

.owl-carousel .owl-dots button.owl-dot span {
	background: transparent;
	border: 1px solid #FFF;
}

.owl-carousel .owl-dots button.owl-dot.active span,
.owl-carousel .owl-dots button.owl-dot:hover span {
	background: #FFF !important;
}

#bookForm {
	position: relative;
}

.form-control-custom .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
	box-shadow: none !important;
	color: #FFF;
	padding-right: 0;
	height: auto;
}

.form-control-custom .form-control::-webkit-input-placeholder {
	color: #FFF;
}

.form-control-custom .form-control::-moz-placeholder {
	color: #FFF;
}

.form-control-custom .form-control:-ms-input-placeholder {
	color: #FFF;
}

.form-control-custom .form-control option {
	background: #FFF;
	color: #777;
}

.form-control-datepicker-custom {
	position: relative;
}

.form-control-datepicker-custom:before {
	position: absolute;
	font-family: simple-line-icons;
	content: "\e075";
	font-size: 10px;
	top: 3px;
	font-size: 14px;
	color: #FFF;
	z-index: 1;
	left: 3px;
}

.form-control-datepicker-custom input {
	position: relative;
	z-index: 2;
}

.form-control-custom-dark .form-control {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	color: #777;
}

.form-control-custom-dark .form-control::-webkit-input-placeholder {
	color: #777;
}

.form-control-custom-dark .form-control::-moz-placeholder {
	color: #777;
}

.form-control-custom-dark .form-control:-ms-input-placeholder {
	color: #777;
}

.form-control-custom-dark .form-control option {
	background: #DDD;
	color: #777;
}

.datepicker .disabled, .datepicker .disabled:hover {
	opacity: 0.5;
}

.box-shadow-custom {
	box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
}

.micro-map {
	margin: 20px 20px 0 20px;
}

.micro-map .micro-map-map {
	float: right;
	width: 50%;
}

.micro-map .micro-map-info {
	float: right;
	width: 50%;
	height: 280px;
}

.micro-map .micro-map-info-detail {
	height: 60%;
	clear: both;
	border-bottom: 1px solid #E1E5EE;
	padding: 18px;
}

.micro-map .micro-map-info-detail:last-child {
	border-bottom: 0;
	height: 40%;
}

.micro-map .micro-map-info-detail .icons {
	font-size: 18px;
	display: block;
}

.micro-map .micro-map-info-detail label {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}

.micro-map .micro-map-info-detail strong {
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: #333;
}

@media (max-width: 991px) {
	.micro-map .micro-map-info-detail .icons {
		font-size: 14px;
	}

	.micro-map .micro-map-info-detail label {
		font-size: 12px;
	}

	.micro-map .micro-map-info-detail strong {
		font-size: 13px;
	}
}

.macro-map .macro-map-map {
	width: 100%;
}

.macro-map .macro-map-info {
	width: 100%;
}

.macro-map .macro-map-info-detail {
	border-right: 1px solid #e1e5ee;
	clear: none;
	float: right;
	min-height: 130px;
	padding: 18px;
	width: 50%;
}

.macro-map .macro-map-info-detail:last-child {
	border-left: 0;
}

.macro-map .macro-map-info-detail .icons {
	font-size: 18px;
	display: block;
}

.macro-map .macro-map-info-detail label {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}

.macro-map .macro-map-info-detail strong {
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: #333;
}

.play-video-custom {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -45px;
}

.play-video-custom img {
	transition: all 0.3s ease;
}

.play-video-custom:hover img {
	transform: scale(1.1, 1.1);
}

.testimonial.testimonial-style-custom {
	text-align: center;
}

.testimonial.testimonial-style-custom blockquote {
	padding: 70px 40px 40px;
}

.testimonial.testimonial-style-custom blockquote p {
	color: #777;
	font-family: Georgia,serif;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
}

.testimonial.testimonial-style-custom blockquote:before {
	font-size: 80px;
	left: 50%;
	margin-left: -18px;
	right: auto;
	top: 20px;
}

.testimonial.testimonial-style-custom blockquote:after {
	display: none;
}

.testimonial.testimonial-style-custom .testimonial-arrow-down {
	position: relative;
}

.testimonial.testimonial-style-custom .testimonial-author {
	border-top: 0;
	margin-left: 0;
	justify-content: center;
}

.testimonial.testimonial-style-custom .testimonial-author p {
	text-align: center;
	margin: 0;
	padding: 0;
}

.testimonial.testimonial-style-custom .testimonial-author p strong {
	color: #FFF;
	text-transform: uppercase;
}

.testimonial.testimonial-style-custom .testimonial-author p span {
	color: #FFF;
	opacity: 0.5;
}

.thumb-info-side-image-custom {
	border: 0 none;
	color: #777;
	margin: 0 0 31px;
}

.thumb-info-side-image-custom .thumb-info-side-image-wrapper {
	padding: 0;
	margin-left: 30px;
}

.thumb-info-side-image-custom .thumb-info-caption {
	text-align: right;
}

.thumb-info-side-image-custom .thumb-info-caption h4 {
	margin: 1.7rem 0 0;
	padding: 0;
}

.thumb-info-side-image-custom .thumb-info-caption p {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 24px;
}

.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-side-image-wrapper {
	margin: 0;
	padding: 0;
}

.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption {
	padding: 1.6rem;
	display: block;
	clear: both;
}

.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption h4 {
	margin: 3px 0;
	padding: 0;
}

.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption p {
	margin: 0;
	padding: 0;
}

.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption .thumb-info-caption-text {
	padding: 0;
}

@media (max-width: 1199px) {
	.thumb-info-side-image-custom .thumb-info-caption h4 {
		margin: 1rem 0 0;
	}
}

@media (max-width: 991px) {
	.thumb-info-side-image-custom .thumb-info-side-image-wrapper {
		float: none;
		margin: 0 0 10px 0;
		padding: 0;
	}

	.thumb-info-side-image-custom .thumb-info-side-image-wrapper img {
		max-width: 100% !important;
		width: 100%;
		margin-bottom: 20px;
	}

	.thumb-info-side-image-custom .thumb-info-caption {
		padding: 0 10px;
		display: block;
		clear: both;
	}

	.thumb-info-side-image-custom .thumb-info-caption .thumb-info-caption-text {
		padding: 10px !important;
	}

	.thumb-info-side-image-custom .thumb-info-caption h4 {
		margin: 3px 0;
		padding: 0;
	}

	.thumb-info-side-image-custom .thumb-info-caption p {
		margin: 0;
		padding: 0;
	}
}

.page-header.parallax {
	padding: 80px 0;
}

.page-header h1 {
	font-size: 2.5em;
}

.page-header h1 span {
	opacity: 0.8;
	font-size: 0.5em;
}

.room-suite-info::after {
	clear: both;
	content: "";
	display: block;
}

.room-suite-info ul {
	margin: 10px 0 30px;
	padding: 0;
	list-style: none;
}

.room-suite-info ul li {
	border-bottom: 1px solid #e9e9e9;
}

.room-suite-info ul li label {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	opacity: 0.7;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
	width: 50%;
}

.room-suite-info ul li span, .room-suite-info ul li strong {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin: 0 -5px 0 -10px;
	padding: 0;
	width: 50%;
	text-align: left;
}

.room-suite-info ul li strong {
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
}

.room-suite-info ul li .room-suite-info-detail {
	float: right;
	font-size: 11px;
	margin: 7px 0 0;
	text-transform: uppercase;
}

.room-suite-info ul li .room-suite-info-book {
	float: left;
	font-size: 12px;
	margin: 7px 0 0;
	text-transform: uppercase;
	font-weight: 700;
}

.room-suite-info ul li .room-suite-info-book-now {
	float: left;
	margin: 7px 0 50px;
}

.room-suite-info ul li:last-child {
	border-bottom: 0;
}

/* Sort Destination IE10/11 */
html.ie10 .sort-destination:not(.full-width),
html.ie11 .sort-destination:not(.full-width) {
	left: -15px;
}

html.ie10 .sort-destination:not(.full-width) .isotope-item,
	html.ie11 .sort-destination:not(.full-width) .isotope-item {
	margin-left: 15px;
	margin-right: 15px;
}

#footer {
	border: 0 !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

#footer .footer-info .icons {
	color: #FFF;
	font-size: 18px;
	display: block;
}

#footer .footer-info label {
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}

#footer .footer-info strong {
	color: #FFF;
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#footer .footer-info .social-icons li {
	box-shadow: none;
	margin-left: 10px;
}

#footer .footer-info .social-icons li a {
	background: transparent !important;
	border-radius: 0;
	color: #fff !important;
	height: auto;
	line-height: normal;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
}

#footer .footer-info .social-icons li a [class*="fa-"] {
	font-size: 14px;
	margin-left: 2px;
	position: relative;
	top: 1px;
}

#footer .footer-info .social-icons li a:hover {
	opacity: 0.7;
}

@media (max-width: 991px) {
	#footer .footer-info {
		margin-top: 20px;
	}
}

.footer-copyright {
	margin-bottom: 35px;
}

.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-copyright nav ul li {
	border-right: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-right: 0;
}

.footer-copyright nav ul li a {
	opacity: 0.5;
	color: #FFF;
}

.footer-copyright p {
	opacity: 0.5;
	color: #FFF;
	margin: 0;
	padding: 0;
}

@media (max-width: 991px) {
	.footer-copyright {
		margin-top: 20px;
		text-align: center;
	}

	.footer-copyright p {
		display: block;
		padding-top: 20px;
		font-size: 12px;
		text-align: center !important;
	}
}
