body {
	font-family: "Poppins", sans-serif;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

[class*="text-color-hover-"] {
	transition: ease all 300ms;
}

[class*="bg-color-hover-"] {
	transition: ease background 300ms;
}

@media (min-width: 768px) {
	.custom-max-width-1 {
		max-width: 387px;
	}
}

.custom-font-secondary {
	font-family: 'Roboto Slab', serif !important;
}

.custom-font-size-1 {
	font-size: 1.4em !important;
}

.custom-font-size-2 {
	font-size: 1.35em !important;
}

.custom-font-size-3 {
	font-size: 1.15em !important;
}

.custom-font-size-4 {
	font-size: 50% !important;
}

.custom-text-color-1 {
	color: #93bae4 !important;
}

.box-shadow-1 .card-body {
	z-index: 1;
}

.custom-box-shadow-1 {
	box-shadow: 0 0px 90px -55px rgba(0, 0, 0, 0.25) !important;
}

.custom-border-radius-1 {
	border-radius: 0.5rem !important;
}

.custom-line {
	display: inline-block;
	width: 50px;
	border-bottom: 3px solid #CCC;
}

.custom-card-style-1 {
	border: 2px solid transparent;
	transition: ease border 300ms;
}

.custom-card-style-1 .custom-card-style-1-image-wrapper img {
	transform: translate3d(5px, -5px, 0);
	transition: ease transform 300ms;
}

.custom-card-style-1 .custom-card-style-1-title,
	.custom-card-style-1 .custom-card-style-1-link {
	transition: ease color 300ms;
}

.custom-card-style-1:hover .custom-card-style-1-image-wrapper img {
	transform: translate3d(0, 0, 0);
}

.owl-carousel {
	display: block;
	opacity: 0;
}

.owl-carousel.owl-loaded {
	opacity: 1;
}

@media (min-width: 1200px) {
	.custom-carousel-box-shadow-1 {
		position: relative;
	}

	.custom-carousel-box-shadow-1:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 65%;
		height: 0px;
		box-shadow: 0 0 110px 180px rgba(0, 0, 0, 0.07);
		transform: translate3d(-50%, -50%, 0);
		z-index: 0;
	}

	.custom-carousel-box-shadow-2 {
		position: relative;
	}

	.custom-carousel-box-shadow-2:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 57%;
		height: 0px;
		box-shadow: 0 0 160px 240px rgba(0, 0, 0, 0.07);
		transform: translate3d(-50%, -50%, 0);
		z-index: 0;
	}
}

@media (min-width: 992px) {
	.custom-highlight-1 {
		position: relative;
		z-index: 1;
	}

	.custom-highlight-1:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: #212529;
		z-index: -1;
	}
}

.customHighlightAnim:after {
	animation-name: customHighlightAnim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.customHighlightAnimDelay:after {
	animation-delay: 3s;
}

@keyframes customHighlightAnim {
	0% {
		width: 0;
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 1;
	}
}

.clean-animation-1 svg g:nth-child(1) {
	animation: cleanAnimation 3s;
	animation-iteration-count: infinite;
}

.clean-animation-1 svg g:nth-child(2) {
	animation: cleanAnimation 3s;
	animation-iteration-count: infinite;
	animation-delay: 400ms;
}

.clean-animation-1 svg g:nth-child(3) {
	animation: cleanAnimation 3s;
	animation-iteration-count: infinite;
	animation-delay: 800ms;
}

@keyframes cleanAnimation {
	0% {
		opacity: 0;
		transform: scale(0.8);
		transform-origin: 50% 50%;
	}

	85% {
		opacity: 1;
		transform: scale(1);
		transform-origin: 50% 50%;
	}

	100% {
		opacity: 0;
		transform: scale(1);
		transform-origin: 50% 50%;
	}
}

.customLineAnimation {
	animation-name: customLineAnimation;
}

@keyframes customLineAnimation {
	0% {
		width: 0px;
		opacity: 1;
	}

	100% {
		width: 50px;
		opacity: 1;
	}
}

@media (min-width: 2000px) {
	.shape-divider svg {
		width: 100%;
	}
}

.custom-col-half-section.col-half-section {
	max-width: 727px;
}

.fluid-col-lg-5 .fluid-col {
	left: 50%;
	width: 100vw;
	transform: translate3d(-50%, 0, 0);
}

@media (min-width: 992px) {
	.fluid-col-lg-5 {
		min-height: 0;
	}

	.fluid-col-lg-5 .fluid-col {
		width: calc(44.2vw - 15px);
		right: 15px;
		transform: none;
	}
}

@media (max-width: 991px) {
	.fluid-col-lg-5 {
		min-height: 400px !important;
	}
}

/*
* Header
*/
.custom-header-top-btn-style-1 {
	position: relative;
}

.custom-header-top-btn-style-1:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: calc( 100% + 20px);
	height: 10px;
	z-index: 1;
	background: #FFF;
}

html.sticky-header-active #header .header-top {
	padding: 0 !important;
}

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a {
		font-size: 15px;
		font-weight: 600;
		padding: 0 0.8rem !important;
	}
}

@media (min-width: 1200px) {
	#header .header-nav-main nav > ul > li > a {
		padding: 0 1.3rem !important;
	}
}

/*
* Contact Form
*/
.custom-form-style-1 .form-control {
	height: calc(1.8em + 1.85rem + 2px);
	padding: 0.975rem 1.25rem;
	background: #f7f7f7;
	border-color: #f7f7f7;
	line-height: 1.5 !important;
}

.custom-form-style-1 .form-control:focus {
	border-color: #CCC;
}

.custom-form-style-1 .form-control::-webkit-input-placeholder {
	color: #a9a9a9;
}

.custom-form-style-1 .form-control::-moz-placeholder {
	color: #a9a9a9;
}

.custom-form-style-1 .form-control:-ms-input-placeholder {
	color: #a9a9a9;
}

.custom-form-style-1 select {
	color: #495057;
}

.custom-form-style-1 select option {
	color: #a9a9a9;
}

.custom-form-style-1 select option[selected] {
	color: #a9a9a9;
}

.custom-form-style-1 textarea.form-control {
	height: auto;
}

.custom-svg-stars {
	position: absolute;
	top: 0;
	left: 100%;
	width: 300px;
	opacity: 0.1;
	z-index: 0;
}

/*
* Home Why Choose Us Section - Custom Accordion Style
*/
.custom-accordion-style-1 > .card {
	border: 1px solid transparent !important;
	transition: ease border-color 300ms;
}

.custom-accordion-style-1 > .card .card-header a {
	position: relative;
	padding: 23px 30px;
	background-color: #FFF;
	transition: ease background-color 300ms, ease color 300ms;
}

.custom-accordion-style-1 > .card .card-header a:after {
	content: '+';
	position: absolute;
	top: 50%;
	left: 25px;
	font-size: inherit;
	font-weight: inherit;
	transform: translate3d(0, -50%, 0) rotate(45deg);
	transform-origin: 50% 50%;
	transition: ease transform 300ms;
}

.custom-accordion-style-1 > .card .card-header a.collapsed:after {
	transform: translate3d(0, -50%, 0) rotate(0deg);
}

.custom-accordion-style-1 > .card + .card {
	margin-top: 20px;
}

/*
* Home Section Our Process - Custom Featured Icon
*/
.custom-featured-icon-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 110px;
	border-radius: 100%;
}

.custom-featured-icon-wrapper .icon-featured {
	margin: 0 !important;
}

/*
* Home Section Happy Clients - Custom Testimonial
*/
.testimonial.testimonial-style-3.custom-testimonial-style-1 blockquote {
	background: #FFF !important;
	padding: 45px 40px 35px 40px;
}

.testimonial.testimonial-style-3.custom-testimonial-style-1 blockquote:before {
	content: '\f10d';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 1.2rem;
	top: 15px;
	right: 15px;
}

.testimonial.testimonial-style-3.custom-testimonial-style-1 .testimonial-author {
	margin: 19px 0 0 0;
}

.testimonial.testimonial-style-3.custom-testimonial-style-1 .testimonial-author img {
	max-width: 67px;
}

/*
* Portfolio Detail
*/
.custom-list-icons-icon-size li {
	padding-left: 50px !important;
}

.custom-list-icons-icon-size li > [class*="fa-"]:first-child,
	.custom-list-icons-icon-size li > .icons:first-child, .custom-list-icons-icon-size li a:first-child > [class*="fa-"]:first-child,
	.custom-list-icons-icon-size li a:first-child > .icons:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px !important;
	height: 40px !important;
	font-size: 0.9rem !important;
	top: 1px !important;
}

/*
* Services Detail
*/
.custom-nav-list-effect-1 > li > a {
	position: relative;
	transition: ease padding 300ms, ease color 300ms;
}

.custom-nav-list-effect-1 > li > a:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #CCC;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, -50%, 0);
	transition: ease opacity 300ms;
}

.custom-nav-list-effect-1 > li.active > a, .custom-nav-list-effect-1 > li.open > a, .custom-nav-list-effect-1 > li:hover > a {
	padding-right: 15px;
}

.custom-nav-list-effect-1 > li.active > a:before, .custom-nav-list-effect-1 > li.open > a:before, .custom-nav-list-effect-1 > li:hover > a:before {
	opacity: 1;
	visibility: visible;
}

/*
* Blog
*/
.blog-sidebar .form-control.bg-color-grey {
	background-color: #FFF !important;
}

/*
* Footer
*/
#footer p, #footer a:not(.btn), #footer span, #footer li, #footer .footer-copyright p {
	color: #a3b2c7;
}

#footer .social-icons li a {
	color: #a3b2c7 !important;
}

#footer .social-icons li:hover a {
	color: #FFF !important;
}

#footer a:not(.btn):not(.no-footer-css) {
	color: #a3b2c7;
}
