<div class="slider-container rev_slider_wrapper" style="height: 250px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, {% if is_mobile %} 'gridheight': 1000, {% else %} 'gridheight': 500, {% endif %}'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/banners/monte.png" alt="Banner" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"/>
        <div class="tp-caption font-weight-light text-center ws-normal"
             data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
             data-x="center"
             data-y="center"
             data-voffset="['50','20','20','50']"
             data-width="['870','870','870','1000']"
             data-fontsize="['70','60','60','90']"
             data-lineheight="['69','69','69','100']"
             style="color: #e0e0e0;">
             <strong class="text-color-light playfair-display-regular text-uppercase">Monte</strong>
        </div>
      </li>
    </ul>
  </div>
</div>

{% if is_mobile %}

<div class="container-fluid bg-blue py-5">
  <div class="row">
    <div class="col-12 text-center py-lg-5 my-3">
      <h1 class="title text-white text-9 text-lg-14">Locais a Visitar</h1>
    </div>


    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local1.png" alt="Paço d'Anha" class="img-fluid w-100" />
    </div>

    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">01/ Paço d'anha</h4>
      <p class="text-4 text-white text-4">Casa de seculares tradições, o Paço d’Anha é mais um exemplo de arquitetura nobre. Quatro casas rústicas, junto à casa principal, com amplas salas e agradáveis terraços, convidam-no a repousar das fadigas da
        vida
        citadina.</p>
    </div>
    <div class="col-1"></div>

    <div class="col-1"></div>
    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local2.png" alt="Praia do Rodanho" class="img-fluid mt-5" />
    </div>

    <div class="col-1"></div>
    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">02/ Praia do Rodanho</h4>
      <p class="text-4 text-white text-4">Esta praia, de uma elevada beleza natural, estende-se por dois quilómetros de costa arenosa. É uma praia ampla com sistemas dunares bem desenvolvidos e uma mata adjacente, que induzem uma grande diversidade
        de
        habitats. A Praia do Rodanho surpreende por ter uma das dunas de maior altitude do norte de Portugal.</p>
    </div>

    <div class="col-11 px-0">
      <img src="{{url_base}}/assets/img/home/local3.png" alt="Igreja Matriz" class="img-fluid" />
    </div>

    <div class="col-11 mt-5">
      <h4 class="subtitle text-white mb-4 text-5">03/ Igreja Matriz de Vila Nova de Anha</h4>
      <p class="text-4 text-white text-4">A origem d’Anha remonta aos séculos IX e X e crê-se que a igreja primitiva e pagã terá existido junto à conhecida Capela de S. João, uma vez que foram encontrados vestígios de um castro e de uma possível
        igreja
        pagã junto da mesma.</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>


{% else %}

<div class="container-fluid bg-blue-90">
  <div class="row">
    <div class="col-6 px-5 pt-5 mt-5">
      <img src="{{url_base}}/assets/img/home/local1.png" alt="Paço d'Anha" class="img-fluid position-absolute visit-img w-90"/>
    </div>
    <div class="col-4 d-flex align-items-center visit-text-campo px-5 mx-5">
      <div>
        <h3 class="text-white modelica-bold">01/ Paço d'anha</h3>
        <p class="text-white text-4">Casa de seculares tradições, o Paço d’Anha é mais um exemplo de arquitetura nobre. Quatro casas rústicas, junto à casa principal, com amplas salas e agradáveis terraços, convidam-no a repousar das fadigas da vida citadina.</p>
        <a href="https://goo.gl/maps/GB6ftpPwWSSF3LeTA" target="_blank" class="text-white text-uppercase direction">Ver direções</a>
      </div>
    </div>
  </div>
</div>

<div class="my-5 py-5">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-1 d-flex align-items-center">
      <div>
        <h3 class="subtitle modelica-bold">02/ Praia do Rodanho</h3>
        <p class="text-4">Esta praia, de uma elevada beleza natural, estende-se por dois quilómetros de costa arenosa. É uma praia ampla com sistemas dunares bem desenvolvidos e uma mata adjacente, que induzem uma grande diversidade de habitats. A Praia do Rodanho surpreende por ter uma das dunas de maior altitude do norte de Portugal.</p>
        <a href="https://goo.gl/maps/eoigDbzMZCgTYANF7" target="_blank" class="text-uppercase direction">Ver direções</a>
      </div>
    </div>
    <div class="col-6 offset-1 px-5">
      <img src="{{url_base}}/assets/img/home/local2.png" alt="Praia do Rodanho" class="img-fluid w-100"/>
    </div>
  </div>
</div>

<div class="my-5 py-5">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 px-5">
      <img src="{{url_base}}/assets/img/home/local3.png" alt="Igreja Matriz" class="img-fluid w-100"/>
    </div>
    <div class="col-4 d-flex align-items-center visit-text-campo px-5 mx-5">
      <div>
        <h3 class="subtitle modelica-bold">03/ Igreja Matriz de Vila Nova de Anha</h3>
        <p class="text-4">A origem d’Anha remonta aos séculos IX e X e crê-se que a igreja primitiva e pagã terá existido junto à conhecida Capela de S. João, uma vez que foram encontrados vestígios de um castro e de uma possível igreja pagã junto da mesma.</p>
        <a href="https://goo.gl/maps/s4toZSDoovkEm6cD6" target="_blank" class="text-uppercase direction">Ver direções</a>
      </div>
    </div>
  </div>
</div>

<div class="my-5 py-5">
</div>

<div class="container-fluid bg-blue-90-left">
  <div class="row">
    <div class="col-4 offset-1 d-flex align-items-center visit-text-campo">
      <div>
        <h3 class="text-white modelica-bold">04/ Praia do Rodanho</h3>
        <p class="text-white text-4">Esta praia, de uma elevada beleza natural, estende-se por dois quilómetros de costa arenosa. É uma praia ampla com sistemas dunares bem desenvolvidos e uma mata adjacente, que induzem uma grande diversidade de habitats. A Praia do Rodanho surpreende por ter uma das dunas de maior altitude do norte de Portugal.</p>
        <a href="https://goo.gl/maps/eoigDbzMZCgTYANF7" target="_blank" class="text-white text-uppercase direction">Ver direções</a>
      </div>
    </div>
    <div class="col-6 offset-1 px-5">
      <img src="{{url_base}}/assets/img/home/local2.png" alt="Praia do Rodanho" class="img-fluid position-absolute visit-img-campo w-90"/>
    </div>
  </div>
  <div class="py-5">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 px-5">
      <img src="{{url_base}}/assets/img/home/local3.png" alt="Igreja Matriz" class="img-fluid position-absolute visit-img-campo-left w-90"/>
    </div>
    <div class="col-4 d-flex align-items-center visit-text-campo px-5 mx-5">
      <div>
        <h3 class="subtitle modelica-bold">05/ Igreja Matriz de Vila Nova de Anha</h3>
        <p class="text-4">A origem d’Anha remonta aos séculos IX e X e crê-se que a igreja primitiva e pagã terá existido junto à conhecida Capela de S. João, uma vez que foram encontrados vestígios de um castro e de uma possível igreja pagã junto da mesma.</p>
        <a href="https://goo.gl/maps/s4toZSDoovkEm6cD6" target="_blank" class="text-uppercase direction">Ver direções</a>
      </div>
    </div>
  </div>
</div>


{% endif %}
